* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
}

.curriculo {
  max-width: 900px;
  margin: 30px auto;
  background: #fff;
  display: flex;
  flex-direction: column;
}

/* LINHAS */
.linha {
  display: flex;
  width: 100%;
}

/* COLUNAS */
.coluna {
  padding: 20px;
}

/* PROPORÇÕES */
.foto {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ecf0f1;
}

.descricao {
  flex: 3;
}

.contato {
  flex: 1;
  background: #ecf0f1;
}

.profissional {
  flex: 3;
}

/* FOTO */
.foto img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

/* TÍTULOS */
h1, h2, h3 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 8px;
}
